.DS_Store
/homework

# C 컴파일된 실행 파일들
*.o
*.out
*.exe
*.elf
*.bin
a.out

# 디버그 파일들
*.dSYM/
.clinerules/byterover-rules.md
.kilocode/rules/byterover-rules.md
.roo/rules/byterover-rules.md
.windsurf/rules/byterover-rules.md
.cursor/rules/byterover-rules.mdc
.kiro/steering/byterover-rules.md
.qoder/rules/byterover-rules.md
.augment/rules/byterover-rules.md